</div>
<footer class="footer-container">
  <div class="footer-copy">
  <p>Copyright &copy;2022</p>
  </div>
  <div class="footer-contact">
  <p>Gamingklubben</p>
  <p>Strandvägen 1</p>
  <p>114 51 Stockholm</p>
</div>
</footer>
</body>
</html>
