<%- include("./header.ejs") %>

<h2>En värld av gaming</h2>
<p>
  Tänk om det skulle finnas en klubb som är helt gratis och som bara handlar om
  gaming?
</p>
<p>Det finns det, du har hittat rätt!</p>
<p>
  I gamingklubben så hittar du andra medlemmar som du kan spela ihop med, eller
  diskutera spel. Här finns något för alla.
</p>

<%- include("./footer.ejs") %>
